.SearchMap {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.searchMapTitle {
    border-bottom: 0.5px solid gray;
}

.searchText {
    font-size: 12px;
    margin: 3px auto 3px auto;
}