.RouteSummary {
    padding: 10px;
    margin: 10px auto 10px auto;
    background-color: rgb(209, 207, 207);
}

h3 {
    margin: 0px auto 0px auto;
}

.RouteLink {
    text-decoration: none;
}

.RouteSummImage {
    width: 90%;
}

.Location {
    text-align: left;
}