.TopNav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-bottom: none;
    color: rgb(52, 87, 136);
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    line-height: 40px;
    width: 100%;
    direction: rtl;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 3px rgba(52, 87, 136, 0.521);
}

.topNavLogo {
    width: 30px;
}

.navTitle {
    color: rgb(52, 87, 136);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
  
.TopNav ul {
    list-style: none;
    margin: 0px 0px 0px auto;
    padding-right: 10px;
    direction: ltr;
}
  
.TopNav li {
    display: inline-block;
    padding-left: 20px;
}

.mainTitle {
    font-size: 18px;
}
  
.hamburger {
    width: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
}
    
.hamburger:hover {
    cursor: pointer;
    display: block;
    right: 0;
    left: auto;
    top: 10px;
    visibility: visible;
}

.show {
    margin-right: 0px;
    margin-left: auto;
    transition-timing-function: ease;
}

.hidden {
    display: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.navHamburger,
.navLink {
    color: rgb(52, 87, 136);
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: .90em;
}

.navHamburger:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
    .TopNav {
        padding-right: 40px;
        padding-left: 40px;
    }

    .navTitle,
    .hamburger {
        font-size: 24px;
    }

    .menu {
      display: inline-block;
      margin-right: 0px;
      margin-left: auto;
      direction: ltr;
      min-width: 50px;
      padding: 5px 5px 5px 5px;
    }

    .navLink {
        font-size: 18px;
    }
}