.topnav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: gray;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    line-height: 40px;
    width: 100%;
    direction: rtl;
    margin-bottom: 25px;
    box-shadow: 0px 6px rgb(0,0,0,0.2);
}

.homelink {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
  
.menu {
    margin-right: 0px;
    margin-left: auto;
    direction: ltr;
    min-width: 50px;
    padding: 5px 5px 5px 5px;
}
  
.topnav ul {
    list-style: none;
    margin: 0px 0px 0px auto;
    padding-right: 10px;
    direction: ltr;
}
  
.topnav li {
    display: inline-block;
    padding-left: 20px;
}

.menulink {
    text-decoration: none;
    color: white;
}
  
.menulink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main-title {
    font-size: 18px;
}
  
.hamburger {
    margin-left: auto;
    width: 20px;
    font-size: 18px;
    font-weight: bold;
}
    
.hamburger:hover {
    cursor: pointer;
    display: block;
    right: 0;
    left: auto;
    top: 10px;
    visibility: visible;
}

.show {
    margin-right: 0px;
    margin-left: auto;
    transition-timing-function: ease;
}

.hidden {
    transition-timing-function: ease;
    display: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

button,
.navlink {
    color: white;
    background-color: gray;
    border: none;
    text-decoration: none;
    font-size: .90em;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 900px) {
    .menu {
      display: inline-block;
      margin-right: 0px;
      margin-left: auto;
      direction: ltr;
      min-width: 50px;
      padding: 5px 5px 5px 5px;
    }
}